<div class="container">
    <div class="row">
        <!-- NgIF start -->
        <div class="col-12">
            <h1>Structural Directive</h1>
            <p>DOM layout by adding or removing dom element</p>
            <ul>
                <li>*ngIf</li>
                <li>*ngFor</li>
            </ul>
            <p>Example</p>
            <h3 *ngIf="showMessage">Hello , structural directive - ngIf</h3>
            <button type="button" class="btn btn-primary" (click)="show()">Show Message</button>

        </div>
        <div class="col-3">
            <div class="p-5 bg-info mt-5" *ngIf="divHideShow">
               Div 1
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-primary mx-3" (click)="showDiv()">show</button>
                <button type="button" class="btn btn-success" (click)="hideDiv()">Hide</button>
            </div>
        </div>
        <div class="col-3">
            <div class="p-5 bg-warning mt-5" *ngIf="toggleDiv">
               Div 2
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-primary mx-3" (click)="hideShow()">Toggle {{toggleDiv}}</button>
            </div>
        </div>
        <!-- NgIF start -->
         <!-- NgFor Start -->
         <div class="col-12">
            <h2>Example of ngfor</h2>
            <div class="row">
                <div class="col-3">
                    <ul>
                        <li *ngFor="let item  of languages">{{item}}</li>
                    </ul>
                </div>
                <div class="col-3">
                    <select>
                        <option value="" *ngFor="let list of languages">{{list}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <ol>
                        <li *ngFor="let lang of languages">{{lang}}</li>
                    </ol>
                </div>
            </div>
         </div>
         <!-- NgFor End -->
    </div>
</div>
