<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="basic">Baisc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="student">Student</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Directives
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="attribute">Attribute</a></li>
              <li><a class="dropdown-item" routerLink="structural">Structural</a></li>
             
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Forms
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="templatedrivenform">Template Driven form with Validataion</a></li>
              <li><a class="dropdown-item" routerLink="reactiveform">Reactive form</a></li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="todolist">To Do List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

